<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.1.dtd" >
<suite name = "Automation Suite">
    <test name="All Test">
        <listeners>
            <listener class-name="listeners.ExtentListener"/>
        </listeners>

        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>

        <classes>
            <class name = "tests.HomePageTest"/>
            <class name = "tests.Elements.ElementsPageTest"/>
            <class name = "tests.Elements.TextBoxTest"/>
            <class name = "tests.Elements.RadioButtonPageTest"/>
            <class name = "tests.Elements.WebTablePageTest"/>
            <class name=  "tests.Elements.ButtonsPageTest"/>
        </classes>
    </test>
</suite>
